@mixin queries {
  @media only screen and (width >= 1200px) {
    main {
      display: grid;
      grid-template-columns: 1fr 1fr 2fr 1fr;
      grid-template-areas: '. sidebar content .';
      gap: 16px;

      .sidebar {
        grid-area: sidebar;

        .tabs {
          margin: 32px 48px;
        }
      }

      .content {
        grid-area: content;
      }
    }
  }

  @media only screen and (width <= 768px) {
    header {
      .hamburger-menu-btn {
        display: block;
        background: none;
        border: none;
        height: min-content;
      }
    }

    main {
      grid-template-columns: 1fr;

      .sidebar {
        display: none;
      }

      div[class^='details'],
      #add-task-form {
        grid-template-columns: 1fr 2fr;
      }

      .priorities-details,
      .priorities-add-task {
        display: grid;
        grid-template-columns: min-content 1fr;
      }
    }
  }
}
