@media only screen and (width >= 1200px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr !important;
    grid-template-areas: '. sidebar content .';
    gap: 16px;

    .sidebar {
      grid-area: sidebar;
    }

    .content {
      grid-area: content;
    }
  }
}

@media only screen and (width <= 768px) {
}
