$font-stack: 'DM Sans', sans-serif;
$sidebar-item-size: 1.2rem;
$yesterday-priority-clr: rgba(50, 1, 141, 0.616);

// Dark mode variables
html[data-theme='dark'] {
  --bg-colour: rgb(40, 40, 40);
  --bg-colour-lightened-10: rgb(66, 66, 66);
  --font-colour: rgb(255, 185, 55);
  --font-colour-darkened-20: rgb(208, 135, 0);
  --icon-colour: invert(76%) sepia(98%) saturate(1639%) hue-rotate(327deg)
    brightness(102%) contrast(106%);
}
// Light mode variables
html[data-theme='light'] {
  --bg-colour: rgb(213, 213, 213);
  --bg-colour-lightened-10: rgb(177, 177, 177);
  --font-colour: rgb(79, 53, 4);
  --font-colour-darkened-20: rgb(55, 36, 0);
  --icon-colour: invert(15%) sepia(7%) saturate(3123%) hue-rotate(316deg) brightness(98%) contrast(76%);

  footer {
    img {
      content: url('../assets/github-mark-black.svg');
    }
  }
}

$mobile-sidebar-width: 60vw;
$mobile-header-height: 125px;

// Animation when hovering over main content
@keyframes show-border {
  from {
    outline: 1px solid var(--bg-colour);
  }
  to {
    outline: 1px solid var(--font-colour-darkened-20);
  }
}

// Animation when showing task details
@keyframes show-details {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// "Animation" when hovering over the unchecked task checkbox
@keyframes check {
  to {
    content: url('../assets/checkbox-checked.svg');
  }
}

// "Animation" when hovering over the checked task checkbox
@keyframes uncheck {
  to {
    content: url('../assets/checkbox.svg');
  }
}

.selected {
  font-weight: bold;
  border-radius: 8px;
  letter-spacing: 1px;
}

.priority-low,
.priority-medium,
.priority-high,
.priority-yesterday,
.priority-completed {
  border-left: 5px solid;
}

.priority-low {
  border-left-color: green;
}

.priority-medium {
  border-left-color: yellow;
}

.priority-high {
  border-left-color: red;
}

.priority-yesterday {
  border-left-color: $yesterday-priority-clr;
}

.priority-completed {
  border-left-color: black;
}
