$font-stack: 'DM Sans', sans-serif;
$bg-colour-dark: rgb(40, 40, 40);
$font-colour-dark: rgb(255, 185, 55);
$sidebar-item-size: 1.2rem;
$yesterday-priority-clr: rgba(50, 1, 141, 0.616);
$icon-clr: invert(76%) sepia(98%) saturate(1639%) hue-rotate(327deg)
  brightness(102%) contrast(106%);
$mobile-sidebar-width: 60vw;

// Animation when hovering over main content
@keyframes show-border {
  from {
    outline: 1px solid $bg-colour-dark;
  }
  to {
    outline: 1px solid darken($font-colour-dark, 20%);
  }
}

// Animation when showing task details
@keyframes show-details {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// "Animation" when hovering over the unchecked task checkbox
@keyframes check {
  to {
    content: url('../assets/checkbox-checked.svg');
  }
}

// "Animation" when hovering over the checked task checkbox
@keyframes uncheck {
  to {
    content: url('../assets/checkbox.svg');
  }
}

// Animation when showing the sidebar on mobile devices
@keyframes show-sidebar {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

.selected {
  font-weight: bold;
  border-radius: 8px;
  letter-spacing: 1px;
}

.priority-low,
.priority-medium,
.priority-high,
.priority-yesterday,
.priority-completed {
  border-left: 5px solid;
}

.priority-low {
  border-left-color: green;
}

.priority-medium {
  border-left-color: yellow;
}

.priority-high {
  border-left-color: red;
}

.priority-yesterday {
  border-left-color: $yesterday-priority-clr;
}

.priority-completed {
  border-left-color: black;
}
