$font-stack: 'DM Sans', sans-serif;
$bg-colour-dark: rgb(40, 40, 40);
$font-colour-dark: rgb(255, 185, 55);

// Animation when hovering over main content
@keyframes show-border {
  from {
    border: 1px solid $bg-colour-dark;
  }
  to {
    border: 1px solid darken($font-colour-dark, 20%);
  }
}
