@use 'utilities' as *;
@use 'media';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $font-stack;
  background-color: var(--bg-colour);
  color: var(--font-colour);
}

::selection {
  background-color: var(--selection-colour);
}

.container {
  display: grid;
  grid-template-rows: min-content 5fr min-content;
  height: 100lvh;
  box-sizing: border-box;
  padding: 16px;
}

header {
  display: grid;
  place-items: center;
  padding-bottom: 16px;

  .title {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 10px;
    margin: 0;
  }

  .title-description {
    font-size: 0.8rem;
    font-style: italic;
    color: var(--font-colour-darkened-20);
    margin: 0;
  }

  .hamburger-menu-btn {
    display: none;
  }

  .colour-theme-switch-icon {
    position: absolute;
    right: 50px;
    width: 40px;
    height: 40px;
    filter: var(--icon-colour);
    cursor: pointer;
  }
}

footer {
  display: grid;
  place-items: center;
  gap: 8px;
  padding-top: 16px;

  p {
    margin: 0;
  }

  img {
    height: 24px;
    width: 24px;
  }
}

main {
  display: grid;
  grid-template-columns: minmax(250px, 1fr) 4fr;
  gap: 16px;

  .sidebar,
  .content {
    background-color: var(--bg-colour-lightened-10);
    border-radius: 16px;

    &:hover {
      animation: show-border 0.5s forwards;
    }
  }

  .tabs {
    display: grid;
    gap: 16px;
    margin: 32px;

    div {
      display: flex;
      align-items: center;
      gap: 16px;
      font-size: $sidebar-item-size;

      p:hover {
        font-weight: bold;
        border-radius: 8px;
        letter-spacing: 1px;
        cursor: pointer;
      }

      &::before,
      img {
        display: inline-block;
        width: $sidebar-item-size;
        height: $sidebar-item-size;
        filter: var(--icon-colour);
      }
    }

    div {
      img {
        cursor: pointer;
        margin-left: auto;
      }
    }

    .all-tasks::before {
      content: url('../assets/all-tasks.svg');
    }

    .coming-up::before {
      content: url('../assets/coming-up.svg');
    }

    .completed::before {
      content: url('../assets/completed.svg');
    }

    div[class^='lists-']::before {
      content: url('../assets/list.svg');
    }

    div.lists-personal::before {
      content: url('../assets/personal-list.svg');
    }

    div.lists-work::before {
      content: url('../assets/work-list.svg');
    }

    div.lists-travel::before {
      content: url('../assets/travel-list.svg');
    }

    img[class='add-list-btn'] {
      width: calc($sidebar-item-size + 15px);
      height: calc($sidebar-item-size + 15px);
      filter: var(--icon-colour);
      place-self: center;
      cursor: pointer;
    }

    #add-list-form {
      display: flex;
      gap: 8px;

      input[type='text'] {
        width: 100%;
        flex-grow: 1;
        padding: 4px 8px;
        font-family: $font-stack;
        font-size: 1rem;
        background-color: var(--bg-colour-lightened-10);
        color: var(--font-colour);
        border: none;
        outline: 1px solid var(--font-colour);
        border-radius: 4px;
        &::placeholder {
          color: var(--font-colour-darkened-20);
          opacity: 0.6;
        }
      }

      button {
        background: none;
        border: none;
        height: min-content;
      }

      img {
        width: 50%;
        cursor: pointer;
        width: calc($sidebar-item-size + 10px);
        height: calc($sidebar-item-size + 10px);
        filter: var(--icon-colour);
      }
    }
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 8px;
    padding: 16px;

    .no-tasks {
      display: flex;
      justify-content: center;

      .heading-no-tasks {
        position: absolute;
        align-self: center;
      }

      .no-tasks-icon {
        width: 70%;
        height: 70%;
        align-self: center;
        opacity: 0.05;
        cursor: default;
      }
    }

    .add-task {
      display: flex;
      justify-content: center;
      cursor: pointer;

      &:hover {
        outline: 1px solid var(--font-colour);
        border-radius: 8px;
      }

      img[alt='Add Task Button'] {
        width: 36px;
        height: 36px;
      }
    }

    div[class^='task'] {
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 8px;

      &:hover {
        outline: 1px solid var(--font-colour);
        outline-offset: 0.05rem;
        border-radius: 8px;
      }
    }

    img {
      height: 1.5rem;
      width: 1.5rem;
      filter: var(--icon-colour);
      cursor: pointer;
    }

    img[class='checkbox-icon'] {
      &:hover {
        animation: check 0s forwards;
      }
    }

    img[class='checked-checkbox-icon'] {
      &:hover {
        animation: uncheck 0s forwards;
      }
    }

    img[class='delete-task-icon'] {
      margin-left: auto;
    }

    p.title {
      cursor: pointer;
    }

    p.due-date {
      width: 75px;
      text-align: end;
    }

    div[class^='details'],
    #add-task-form {
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: 8px;
      padding: 8px;
      animation: show-details 1s forwards;

      .add-task-heading {
        grid-column: 1 / 3;
        place-self: center;
        padding-bottom: 16px;
      }

      .add-task-form-buttons {
        grid-column: 1 / 3;
        display: flex;
        justify-content: center;
        gap: 32px;
        padding-top: 16px;

        button {
          padding: 8px 16px;
          font-size: 1.2rem;
          background-color: var(--bg-colour-lightened-10);
          color: var(--font-colour);
          border: 2px solid var(--bg-colour);
          border-radius: 8px;

          &:hover {
            border: 2px solid var(--font-colour);
            cursor: pointer;
          }
        }
      }

      input[type='text'],
      textarea {
        font-family: $font-stack;
        font-size: 1rem;
        padding: 8px;
        background-color: var(--bg-colour-lightened-10);
        color: var(--font-colour);
        border: none;
        resize: none;
        outline: 1px solid var(--font-colour);
        border-radius: 4px;
        &::placeholder {
          color: var(--font-colour-darkened-20);
          opacity: 0.6;
        }
      }

      .title-details,
      .description-details {
        &[contenteditable='true']:hover {
          cursor: pointer;
        }
        &[contenteditable='true']:hover::after {
          content: url('../assets/edit.svg');
          position: relative;
          top: 1px;
          display: inline-block;
          width: 0.8rem;
          height: 0.8rem;
          margin-left: 8px;
          filter: var(--icon-colour);
        }
        &:focus::after {
          display: none;
        }
        &:focus {
          outline: 1px solid var(--font-colour);
          border-radius: 4px;
        }
      }

      input[type='date'] {
        cursor: pointer;
        width: min-content;
        font-family: $font-stack;
        background-color: var(--bg-colour-lightened-10);
        color: var(--font-colour);
        font-size: 0.95rem;
        border-radius: 4px;
        border: none;

        &:focus {
          outline: none;
        }

        &::-webkit-calendar-picker-indicator {
          filter: var(--icon-colour);
          cursor: pointer;
        }
      }

      .priorities-details,
      .priorities-add-task {
        input,
        label {
          cursor: pointer;
        }

        input {
          position: relative;
          top: 2px;
        }

        input[id^='low'] {
          accent-color: green;
        }

        input[id^='medium'] {
          accent-color: yellow;
        }

        input[id^='high'] {
          accent-color: red;
        }

        input[id^='yesterday'] {
          accent-color: $yesterday-priority-clr;
        }

        label {
          margin: 0 6px;
        }
      }

      select {
        cursor: pointer;
        width: min-content;
        background-color: var(--bg-colour-lightened-10);
        color: var(--font-colour);
        font-weight: bold;
        border: none;

        &:focus {
          outline: none;
        }
      }

      span {
        color: var(--font-colour-darkened-20);
      }
    }

    #add-task-form > label {
      color: var(--font-colour-darkened-20);
    }
  }
}

// Load media queries
@include media.queries;
