<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="container">
      <header>
        <p class="title">Todo List</p>
        <p class="title-description">Get things done.</p>
      </header>
      <main>
        <div class="sidebar">
          <div class="tabs">
            <p class="all-tasks">All Tasks</p>
            <p class="coming-up">Coming Up</p>
            <p class="completed">Completed</p>
            <h2 class="lists-heading">Lists</h2>
          </div>
        </div>
        <div class="content"></div>
      </main>
      <footer>
        <p>Copyright © dziubenzo</p>
        <a
          href="http://www.github.com/dziubenzo"
          target="_blank"
          rel="noopener noreferrer"
          ><img
            src="<%= require('./assets/github-mark-white.svg') %>"
            alt="GitHub Logo - White"
        /></a>
      </footer>
    </div>
  </body>
</html>
